/* header: fixing position and spacing between elements */
header{
 
    display: flex;
    justify-content: center;
    gap: 850px;
  
    border: gray;
    padding-left: 10%;
    padding-right: 10%;
    border-style: solid;
    border-width: 1px;
    
}
.iconbundle{

 display: flex;
    justify-content: space-between;
    gap: 15px;

}
.workinghours{

    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    color: #626262;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Navigation bar */

nav{
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    /* padding-top: 2%; */
    padding-top: 65px;
    padding-bottom: 25px;
    display: flex;
    /* justify-content: space-between; */
    font-family: 'Roboto slab', sans-serif;
    justify-content: center;
    gap: 675px;
}
nav ul{
    display: flex;
    list-style-type: none;
    
    gap: 15px;
    padding-top: 15px;
    


}
nav a{
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    text-decoration: none; 
   background-color: none;
   color: #363636;
}
nav li{
    text-align: center;
    width: 80px;
}



/* showcase */

.showcase{
    margin-top: 35px;
    padding-top: 2%;
    background-color: #DEDEDE;
    padding-left: 6%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 275px;
    
}
.showcase img{
height: 616px;
width: 679px;
}
.showcase button{
    border-radius: 18px;
    background-color: #25E6C8;
    width: 239px;
    height: 60px;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.showcase div{
display: flex;
padding-top: 100px;
order: 3;
gap: 10px;
flex-direction: column;

}
.showcase h1{
    font-size: 60px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    color: #363636;
    margin: 0;
    
}
.showcase p{
    color: #626262;
    font-weight: 400;
}
.showcase button:hover{

    background-color: #2BAAEC;
}




/* About us*/

.aboutus{
    padding-top: 4%;
    display: flex;
    padding-right: 200px;
    padding-left: 225px;
    justify-content: center;


}

#aboutusstripe{

    width: 650px;
    height: 4px;
    background-color: #25E6C8;
    margin-right: auto;
    border-radius: 10px;
    
}
.aboutus img{
    width: 473px;
    height: 724px;
    padding-left: 50px;
    
}
.aboutus .text{
   
    flex-direction: column-reverse;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
}
#aboutus_h1{
   font-weight: 400; 
   font-family: 'Roboto Slab', serif;
   font-size: 40px;
   color: #363636;
}
#aboutus_p{
    color: #626262;
    font-weight: 400;
    font-size: 18px;
}

.stats{

    display: flex;
    gap: 75px;
}
.stats h1{
    color: #2BAAEC;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 5px;
}
.stats p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #363636;
    margin: 0;
}

/* OUR SERVICES */
.ourservices{
background-color: #F7F7F7;
padding-top: 125px;
display: flex;
align-items: center;
flex-direction: column;
padding-bottom: 150px;


}

.ourservices h1{

    text-align: center;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    color: #363636;

}
#ourservicesstripe{

    width: 450px;
    height: 4px;
    background-color: #25E6C8;
    margin: auto;
    border-radius: 10px;
    
}

.cards{
    padding-top: 45px;
    display: flex;
    
   
    max-width: 1470px;
    

    flex-wrap: wrap;
    row-gap: 28px;
 
    justify-content: space-between;
    
    /* padding-left: 350px; */
    /* padding-right: 350px; */
    
    
    
}

.card{
    width:450px;
    height:436px;
    background:#FFFFFF;
    border-radius: 10px;

}
.circle{
    height: 120px;
    width: 120px;
    background-color: #25E6C8;
    border-radius: 50%;
    position: relative;
    top: 20%;
    left: 50%;
    margin-top: -25px;
    margin-left: -60px;
}
.ourservices img{

    
    position: relative;
    top: 25%;
    left: 25%;
    margin: auto;

}

.card h2{
    font-size: 22px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: -80px; 
    font-family: 'Roboto Slab', serif;
    pointer-events: none;
    color: #363636;
    font-weight: 400;
    



}
.card p{

    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: -460px; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    pointer-events: none;
    font-weight: 400;
    color: #626262;


}

.card:hover{
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover .circle{

    background-color: #2BAAEC;
}

/* Appointment */

.appointment {

    background-color: #4EB4E8;
    display: flex;
    justify-content: center;
    gap: 365px;
    font-family: 'Roboto', sans-serif; 
    height: 220px;
    padding-left: 200px;
    padding-right: 200px;
    
}

.appointment h1{
    margin-top: 90px;
    color: #FFFFFF;
    width: 800px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
        
}

.appointment button{
    height: 60px;
    width: 285px;
    margin-top: 70px;
   
    border-radius: 18px;
    background-color: #FFFFFF;
    border: none;
    color: #2BAAEC;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
        
}
.appointment button:hover{

    background-color: #4EB4E8;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;

}
.appointment button button:hover{

   
    
}


/* Footer */

footer{

    background-color: #2BAAEC;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    color: #f5fcff99;
}








