/* header: fixing position and spacing between elements */
header{
 
    display: flex;
    justify-content: space-between;
  
    border: gray;
   padding-left: 10%;
   padding-right: 10%;
    border-style: solid;
    
}
.iconbundle{

 display: flex;
    justify-content: space-between;
    gap: 15px;

}
.workinghours{

    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    color: #626262;
}

/* Navigation bar */

nav{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto slab', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    
    gap: 10px;
    padding-top: 15px;


}
nav a{

    text-decoration: none; 
   background-color: none;
   color: #363636;
}



/* showcase */

.showcase{
    margin-top: 35px;
    padding-top: 2%;
    background-color: #DEDEDE;
    padding-left: 6%;
    font-family: 'Roboto', sans-serif;
    display: flex;
}
.showcase img{
height: 616px;
width: 679px;
}
.showcase button{
    border-radius: 18px;
    background-color: #25E6C8;
    width: 239px;
    height: 60px;
    border: none;
    color: white;
    font-size: 18px;
    font-style: "roboto bold";
}
.showcase div{
display: flex;
padding-top: 100px;
order: 3;
gap: 10px;
flex-direction: column;

}
.showcase h1{
    font-size: 60px;
    
}
.showcase button:hover{

    background-color: #2BAAEC;
}




/* About us*/

.aboutus{
    padding-top: 4%;
    display: flex;
    padding-right: 400px;
    padding-left: 225px;
    justify-content: space-between;


}
.aboutus img{
    width: 473px;
    height: 724px;
    
}
.aboutus .text{
   
    flex-direction: column-reverse;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
}

.stats{

    display: flex;
    gap: 25px;
}
.stats h1{
    color: #2BAAEC;
}

.ourservices{
background-color: #F7F7F7;
margin-top: -22px;
display: flex;
flex-direction: column;


}
.cards{
    display: flex;
    gap: 0px;
    margin-left: 250px;
    margin-right: 250px;
   

    flex-wrap: wrap;
    
    justify-content: space-between;
    /* padding-left: 350px; */
    /* padding-right: 350px; */
    background-color: gray;
    
    
}

.card{
    width:450px;
    height:436px;
    background:#FFFFFF;
    border-radius: 10px;

}
.circle{
    height: 120px;
    width: 120px;
    background-color: #25E6C8;
    border-radius: 50%;
    position: relative;
    top: 20%;
    left: 50%;
    margin-top: -25px;
    margin-left: -60px;
}
.ourservices img{

    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px; 

}

.card h2{
    font-size: 22px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: -80px; 
    font-family: 'Roboto', sans-serif;
    pointer-events: none;



}
.card p{

    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    margin-left: -460px; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    pointer-events: none;


}

.card:hover{
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover .circle{

    background-color: #2BAAEC;
}



